<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <p class="card-text">
                <form action="/items/<%= @item.id %>" method="post">
                    <input id="hidden" type="hidden" name="_method" value="patch">
                    <p><label for="name">Item Name:</label><input type="text" name="name" id="name" class="form-control"
                            value="<%= @item.name %>" requireds>
                    </p>
                    <p><label for="calories">Calories:</label><input type="number" name="calories" id="calories"
                            class="form-control" min="0" max="100000" value="<%= @item.calories %>"></p>
                    <p><label for="total_fat">Total Fat:</label><input type="number" name="total_fat" id="total_fat"
                            class="form-control" min="0" max="100000" value="<%= @item.total_fat %>"></p>
                    <p><label for="cholesterol">Cholesterol:</label><input type="number" name="cholesterol"
                            id="cholesterol" class="form-control" min="0" max="100000" value="<%= @item.cholesterol %>">
                    </p>
                    <p><label for="sodium">Sodium</label><input type="number" name="sodium" id="sodium"
                            class="form-control" min="0" max="100000" value="<%= @item.sodium %>"></p>
                    <p><label for="total_carbs">Total Carbs:</label><input type="number" name="total_carbs"
                            id="total_carbs" class="form-control" min="0" max="100000" value="<%= @item.total_carbs %>">
                    </p>
                    <p><label for="protein">Protein:</label><input type="number" name="protein" id="protein"
                            class="form-control" min="0" max="100000" value="<%= @item.protein %>"></p>

                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
                </p>
            </div>
        </div>
    </div>
</div>