<h2>Edit this Item</h2>
<form action="/items/<%= @item.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
    <p><label for="name">Item Name:</label><input type="text" name="name" id="name" value="<%= @item.name %>" required></p>
    <p><label for="calories">Calories:</label><input type="number" name="calories" id="calories" min="0" max="100000" value="<%= @item.calories %>"></p>
    <p><label for="total_fat">Total Fat:</label><input type="number" name="total_fat" id="total_fat" min="0" max="100000" value="<%= @item.total_fat %>"></p>
    <p><label for="cholesterol">Cholesterol:</label><input type="number" name="cholesterol" id="cholesterol" min="0" max="100000" value="<%= @item.cholesterol %>"></p>
    <p><label for="sodium">Sodium</label><input type="number" name="sodium" id="sodium" min="0" max="100000" value="<%= @item.sodium %>"></p>
    <p><label for="total_carbs">Total Carbs:</label><input type="number" name="total_carbs" id="total_carbs" min="0" max="100000" value="<%= @item.total_carbs %>"></p>
    <p><label for="protein">Protein:</label><input type="number" name="protein" id="protein" min="0" max="100000" value="<%= @item.protein %>"></p>

    <input type="submit" value="Edit Item">
</form>