<h2>My Items</h2>
<% @items.each do |item| %>
    <h3>Name: <%= item.name %></h2>
    <p>Calories: <%= item.calories %></p>
    <p>Total Fat: <%= item.total_fat %></p>
    <p>Cholesterol: <%= item.cholesterol %></p>
    <p>Sodium: <%= item.sodium %></p>
    <p>Total Carbs: <%= item.total_carbs %></p>
    <p>Protein: <%= item.protein %></p>
    <button><a href="/items/<%= item.id %>">View Item</a></button>
<% end %>