<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h3 class="card-title"><%= @item.name %></h3>
        <p class="card-text">
        <p>Calories: <%= @item.calories %></p>
        <p>Total Fat: <%= @item.total_fat %></p>
        <p>Cholesterol: <%= @item.cholesterol %></p>
        <p>Sodium: <%= @item.sodium %></p>
        <p>Total Carbs: <%= @item.total_carbs %></p>
        <p>Protein: <%= @item.protein %></p>
        <a href="/items/<%= @item.id %>/edit" class="btn btn-primary">Edit Item</a><br><br>
        <form action="/items/<%= @item.id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete" />
          <input type="submit" value="Delete Item" class="btn btn-danger" />
        </form>
        </p>
      </div>
    </div>
  </div>
</div>