<div class="row">
  <div class="col-sm">
    <h2>Item Name: <%= @item.name %></h2>
    <p>Calories: <%= @item.calories %></p>
    <p>Total Fat: <%= @item.total_fat %></p>
    <p>Cholesterol: <%= @item.cholesterol %></p>
    <p>Sodium: <%= @item.sodium %></p>
    <p>Total Carbs: <%= @item.total_carbs %></p>
    <p>Protein: <%= @item.protein %></p>
    <a href="/items/<%= @item.id %>/edit"><button>Edit Item</button></a>
  </div>
  <div class="col-sm">
    <h2>Options</h2>
    <form action="/items/<%= @item.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete Item" />
    </form>
  </div>
</div>
